ion-content{
    --background: #407088;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbarcolor{
    --background: #1f3946;
    color: white;
    text-align: center;
}
// .ion-content-centered {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//   }


.ion-content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height */
  }
  
  .card-container {
    max-width: 320px; /* Adjust as needed */
    width: 100%;
    margin: 10px auto; /* Center horizontally and add top margin */
  }
  
//   .card-container {
//     max-width: 600px; /* Adjust as needed */
//     width: 100%;
//     position:fixed;
//     // --background: #e4e4e4;
    
//   }
.button_register{
   background: #1f3946 !important;

}
  // div,ion-card-content,ion-grid,ion-row,ion-col,ion-list,ion-item{
//     --background: #e4e4e4;
//   }
  ion-card-header {
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold; /* Optionally, make it bold */
    text-align: center; /* Center the text */
    padding: 20px; /* Add padding for a bit more space */
    color:black;
  }
  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 110px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  

.icon-spacing {
  margin-right: 13px; /* Adjust the margin as needed */
  color:#407088;
 
}
//   @media (min-width: 1000px) {
//     .card-container {
//       margin-left: 28%;
//       margin-right: 28%;
//     }
//   }
.form-container {
    max-width: 400px; /* Adjust as needed */
    // width: 100%;
    margin: 50px auto; 
    // width: 320px;
    border-radius: 0.75rem;
    background-color: #1f3946;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color:  rgb(34, 84, 160);;
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline  rgb(34, 84, 160);
    color:yellow;
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgb(34, 84, 160);
    padding: 0.75rem;
    text-align: center;
    color: rgb(17, 23, 36);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  