/* Custom styles for the grid */
/* Custom styles for the grid */
.custom-grid {
    display: flex;
    justify-content: space-between;
    margin: auto; /* Center horizontally */
    padding: 0 10px;
    width: 100%; /* Make the grid cover the page width */
  }
  
  
  /* Custom styles for square IonCol */
  .square-card {
    flex: 1; /* Make the columns flexible to cover the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  /* Custom styles for IonCard */
  .student-card, .profile-card {
    background: #D9D9D9; /* Background color */
    color: #000000; /* Text color */
    width: 200px; /* Make the cards cover the column width */
    height: 150px;
    justify-content: space-between;
    border-radius: 10px;
  }
.student-card{
    margin-left:-200px;
}

  @media (max-width: 1000px) {
    .student-card, .profile-card {
        width: 150px; /* Make the cards cover the column width */
        height: 150px;
      
    }
    .student-card{
        margin-left:20px;
    }
  }
  
  /* Custom styles for IonIcon */
  .icon {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  /* Custom styles for card title */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Custom styles for the number in the Student Card */
  .number {
    font-size: 1.2rem;
  }
  
 /* Custom background color */
.custom-background {
    --background:#407088;
}
ion-content {
    --background:#407088;
  }









   //CARDS
   ion-card {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    ion-card-header {
      background-color: #5DB7F2;
      color: rgb(0, 0, 0);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }

    
  }

  a {
    transition: opacity 0.3s ease-in-out;
  }
  
  a:hover {
    opacity: 0.7;
  }
  


  //TABLE STYLE
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: auto;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #454545; /* Header background color */
    color: white; /* Header text color */
    height: 40px; /* Increase the height of the table header */
    font-size: 18px; /* Increase the font size of the table header */
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

tbody tr:nth-child(odd) {
    background-color: #303030; /* Odd row background color */
}

tbody tr:nth-child(even) {
    background-color: #303030; /* Even row background color */
}

th:nth-child(2), td:nth-child(2) {
    width: 30px; /* Adjust the width of the "Check" column */
}

td {
    color: rgb(255, 255, 255); /* Set the font color of all <td> elements to black */
}

input[type="checkbox"] {
    margin-right: 5px;
}

.text{
    text-align: center;
    display: flex;
}


