<ion-content [fullscreen]="true" class="custom-background">
  <div class="text">





    <ion-card class="profile-card">
      <ion-card-content>
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        <ion-card-title class="card-title">My PROFILE</ion-card-title>
      </ion-card-content>
    </ion-card>



    <ion-card class="student-card">
      <ion-card-content>
        <ion-icon name="receipt-outline" class="icon"></ion-icon>
        <ion-card-title class="card-title">Students</ion-card-title>
        <ion-card-subtitle class="number">20</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <!-- <ion-grid class="custom-grid">
      <ion-row>
        <ion-col class="square-card">
          <ion-card class="student-card">
            <ion-card-content>
              <ion-icon name="receipt-outline" class="icon"></ion-icon>
              <ion-card-title class="card-title">Students</ion-card-title>
              <ion-card-subtitle class="number">20</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="square-card">
          <ion-card class="profile-card">
            <ion-card-content>
              <ion-icon name="person-circle-outline" class="icon"></ion-icon>
              <ion-card-title class="card-title">My PROFILE</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

  </div>
 

  <ion-card class="tablecard" >
    <table>
      <thead>
        <tr>
          <th>Classes</th>
          <th>
           VIEW CLASS
          </th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IP200</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        
      </tbody>
    </table>
   
   
    
<ion-button fill="clear">Logout</ion-button>
<ion-button fill="outline">Delete</ion-button>
<ion-button fill="solid">Add</ion-button>
  </ion-card>
  
  
</ion-content>


