/* Custom styles for the grid */
/* Custom styles for the grid */
.custom-grid {
    display: flex;
    justify-content: space-between;
    margin: auto; /* Center horizontally */
    padding: 0 10px;
    width: 100%; /* Make the grid cover the page width */
  }
  
  
  /* Custom styles for square IonCol */
  .square-card {
    flex: 1; /* Make the columns flexible to cover the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  /* Custom styles for IonCard */
  .student-card, .profile-card {
    background: #D9D9D9; /* Background color */
    color: #000000; /* Text color */
    width: 200px; /* Make the cards cover the column width */
    height: 150px;
    justify-content: space-between;
    border-radius: 10px;
  }
.student-card{
    margin-left:-200px;
}

  @media (max-width: 1000px) {
    .student-card, .profile-card {
        width: 150px; /* Make the cards cover the column width */
        height: 150px;
      
    }
    .student-card{
        margin-left:20px;
    }
  }
  
  /* Custom styles for IonIcon */
  .icon {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  /* Custom styles for card title */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Custom styles for the number in the Student Card */
  .number {
    font-size: 1.2rem;
  }
  
 /* Custom background color */
.custom-background {
    --background:#407088;
}
ion-content {
    --background:#407088;
  }









   //CARDS
   ion-card {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    ion-card-header {
      background-color: #5DB7F2;
      color: rgb(0, 0, 0);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }

    
  }

  a {
    transition: opacity 0.3s ease-in-out;
  }
  
  a:hover {
    opacity: 0.7;
  }
  


  //TABLE STYLE
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: auto;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #454545; /* Header background color */
    color: white; /* Header text color */
    height: 40px; /* Increase the height of the table header */
    font-size: 18px; /* Increase the font size of the table header */
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

tbody tr:nth-child(odd) {
    background-color: #303030; /* Odd row background color */
}

tbody tr:nth-child(even) {
    background-color: #303030; /* Even row background color */
}

th:nth-child(2), td:nth-child(2) {
    width: 30px; /* Adjust the width of the "Check" column */
}

td {
    color: rgb(255, 255, 255); /* Set the font color of all <td> elements to black */
}

input[type="checkbox"] {
    margin-right: 5px;
}

.text{
    text-align: center;
    display: flex;
}


.add-card{
  margin-top:20px;
}



@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  background: #F0F0F0;
  font-family: Open Sans ,sans-serif;
  line-height:1.5em;
}
#contact {
width: 500px;
margin:2em auto;
background:white;
position: relative;
}
#contact::after {
content: "";
display: block;
height: 30px;
width: 90%;
left: 5%;
bottom: 0;
position: absolute;
-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
border-radius: 100%;
z-index: -1;
}
#contact article {
  padding: 1em;
}
#contact h1 {
background: #5a5656;
font-family: Oswald ,sans-serif;
font-size: 1.75em;
padding: 0.6em 0 0.6em 0.4em;
color: white;
text-shadow: 0 0.06em 0 #000000;
position: relative;
}
.contactbutton {
background: #5a5656;
-webkit-box-shadow: 1px 1px 0 0 #000000,2px 2px 0 0 #000000,3px 3px 0 0 #000000;
box-shadow: 1px 1px 0 0 #000000,2px 2px 0 0 #000000,3px 3px 0 0 #000000;
text-align: center;
display: block;
width: 100%;
height: 50px;
margin-top: 20px;
margin-bottom: 2px;
cursor: pointer;
}
.contactbutton:hover {
-webkit-box-shadow: 1px 1px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7;
box-shadow: 1px 1px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7;
margin-top: 22px;
margin-left: 2px;
margin-bottom: 0px;
}
.mail {
margin-top: 11px;
font-size: 15px;
display: inline-block;
border-top: 2em solid transparent;
border-left: 2.6em solid #5A5656;
height: 0;
width: 0;
position: relative;
}
.mail:before {
content: '';
top: -2.5em;
left: -2.95em;
display: block;
position: absolute;
border-top: 1.2em solid #000000;
border-left: 1.6em solid transparent;
border-right: 1.6em solid transparent;
border-bottom: 1em solid transparent;
font-size: 0.8em;
}
.mail::after {
display: block;
content: "";
position: absolute;
border-top: 2em solid transparent;
border-right: 2.6em solid #5A5656;
height: 0;
width: 0;
left: -2.18em;
bottom: 0;
}
#checkcontact{
position: absolute;
left: -9999px;
}
.contactform {
overflow: hidden;
max-height: 0px;
-webkit-transition: all linear 1s;
-moz-transition: all linear 1s;
-o-transition: all linear 1s;
-ms-transition: all linear 1s;
transition: all linear 1s;
}
#checkcontact:checked + .contactform {
max-height: 1000px;
}
.input_wrapper {
position: relative;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.input_wrapper input[type="text"] {
margin-top: 1em;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
text-indent: 15%;
}
.input_wrapper input[type="text"]:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
text-indent: 0;
}
.input_wrapper label {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #5A5656;
color: white;
font-family: Oswald ,sans-serif;
box-sizing: border-box;
width: 15%;
text-align: center;
line-height: 2.8em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.input_wrapper input[type="text"]:focus + label {
left: 85%;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
  min-height:150px;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.textarea_wrapper textarea:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
}
.submit_wrapper {
text-align: center;
}
.submit_wrapper input {
text-align: center;
display: inline-block;
width: 40%;
height: 50px;
margin-top: 1em;
margin-bottom: 6px;
cursor: pointer;
background: #5a5656;
color: white;
font-family: Oswald ,sans-serif;
font-size: 1em;
border: none;
-webkit-box-shadow: 1px 1px 0 0 #303030,2px 2px 0 0 #303030,3px 3px 0 0 #303030;
box-shadow: 1px 1px 0 0 #303030,2px 2px 0 0 #303030,3px 3px 0 0 #303030;
-webkit-appearance: none;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.submit_wrapper input:hover {
-webkit-box-shadow: 1px 1px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7;
box-shadow: 1px 1px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7,0px 0px 0 0 #c9c6c7;
margin-top: 22px;
margin-left: 2px;
margin-bottom: 0px;
}

@media (max-width: 500px){
#contact {
width: 100%;
}
  .input_wrapper label {
line-height: 3.5em;
font-size: 0.8em;
}
}


