<ion-content [fullscreen]="true" class="custom-background">
  <div class="text">





    <ion-card class="profile-card" (click)= goToProfile()>
      <ion-card-content>
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        <ion-card-title class="card-title">My PROFILE</ion-card-title>
      </ion-card-content>
    </ion-card>



    <ion-card class="student-card" (click)= goToStudents()>
      <ion-card-content>
        <ion-icon name="receipt-outline" class="icon"></ion-icon>
        <ion-card-title class="card-title">Students</ion-card-title>
        <ion-card-subtitle class="number">20</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <!-- <ion-grid class="custom-grid">
      <ion-row>
        <ion-col class="square-card">
          <ion-card class="student-card">
            <ion-card-content>
              <ion-icon name="receipt-outline" class="icon"></ion-icon>
              <ion-card-title class="card-title">Students</ion-card-title>
              <ion-card-subtitle class="number">20</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="square-card">
          <ion-card class="profile-card">
            <ion-card-content>
              <ion-icon name="person-circle-outline" class="icon"></ion-icon>
              <ion-card-title class="card-title">My PROFILE</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    

  </div>
 
 


  <section id="contact" *ngIf="showAddCard">
    <div class="sectionheader">	<h1>Adding Modules</h1></div>
    <article>
    <p>This is where you add your module as a lecture remember you can not  add a module that does not exist and if you are not a Lecturer you have no access and prohited on this system</p>
      
        <label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">
    
        <form action="" method="post" class="contactform">
          <p class="input_wrapper"><input type="text" name="contact_nom" value=""  id ="contact_nom"><label for="contact_nom">MODULE</label></p>
          <p class="input_wrapper"><input type="text" name="contact_email" value=""  id ="contact_email"><label for="contact_email">CODE</label></p>
          <p class="input_wrapper"><input type="text" name="contact_sujet" value=""  id ="contact_sujet"><label for="contact_sujet">LEVEL</label></p>
          <p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea></p>
          <p class="submit_wrapper"><input type="submit" value="SUBMIT"></p>			
        </form>
    </article>
  </section>

  <ion-card class="tablecard" >
    <table>
      <thead>
        <tr>
          <th>Classes</th>
          <th>
           VIEW CLASS
          </th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IP200</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        <tr >
          <td>IS100</td>
          <td>View</td>
        </tr>
        
      </tbody>
    </table>
   
   
    <div class="ion-text-center">
      <ion-button fill="clear">Logout</ion-button>
      <ion-button fill="outline">Delete</ion-button>
      <ion-button fill="solid" (click)="showAddCard = true">Add</ion-button>
    </div>

  </ion-card>
  
  
</ion-content>


