<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-input [(ngModel)]="qrCodeText" placeholder="QR Code Text" readonly></ion-input>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>
  
 
  
  
  <div class="centered-content"> <!-- Apply the CSS class to center content -->
    <img [src]="qrCodeDataUrl" *ngIf="qrCodeDataUrl" alt="QR Code">
    <br>
    <br>
    <br>
    <br>
    <ion-button (click)="generateQRCode()" class="colser">Generate  <ion-icon name="qr-code-outline" class="hude"></ion-icon> QR Code</ion-button>
  </div>
</ion-content>
