<ion-header [translucent]="true">
  <ion-toolbar class="toolbarcolor">
    <ion-title>Student Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-centered">

<div class="form-container">
	<p class="title">Login</p>
	<form class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" [(ngModel)]="email">
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" [(ngModel)]="password">
			<div class="forgot">
				<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
			</div>
		</div>
		<button class="sign" (click)="login()">Sign in</button>
	</form>
	<div class="social-message">
		<div class="line"></div>
		<p class="message">Create your account!!</p>
		<div class="line"></div>
	</div>
	
	<p class="signup">Don't have an account?
		<a rel="noopener noreferrer" routerLink="/register" href="#" class="">Sign up</a>
	</p>
</div>
<!-- </ion-card> -->
</ion-content> 

