//CARDS
ion-card {
    max-width: 600px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   
    ion-card-content {
      background-color: #D9D9D9;
      color: #000000;;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }

    
  }

  a {
    transition: opacity 0.3s ease-in-out;
  }
  
  a:hover {
    opacity: 0.7;
  }

  @media (max-width: 768px) {
    ion-card {
        width: 250px;
      margin: 80px auto;
    }
  
    ion-card-content {
      background-color: #D9D9D9;
      color: #000000;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 80px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }
  
    a {
      transition: opacity 0.3s ease-in-out;
    }
  
    a:hover {
      opacity: 0.7;
    }
  }
  
  

  ion-content {
    --background:#407088;
  }


  .BUTTON{
    margin-top: 150px;
    --background:#D9D9D9;
    font-weight: bold;
    color: #000000;
  }